:root {
  --dark-navy: #020c1b;
  --navy: #0A0F24;
  --light-navy: #112240;
  --soft-purple: #402354;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: #e6d7f6;
  --light-slate: #d9cddd;
  --lightest-slate: #b798d1;
  --white: #e6f1ff;
  --purple-bright: #D8B4FE;
  --green-tint: rgba(175, 100, 255, 0.1);
  --yellow: #ffd166;
}
